<a href="https://colab.research.google.com/github/Yhonnatan22/Pyton/blob/main/CLASE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Actividades

### Pregunta 1

1.1. Crear una lista que inicie en el número 12 y acabe en el número 200, en su construcción se considere saltos de 2 en 2, guarde la lista con el nombre "lista_x".

1.2. Con la lista_x, eliminar el primer y el último valor, los valores eliminados se deberán almacenar en otra lista llamada numeros_eliminados.

1.3. Muestre los valores de la lista numeros_eliminados.

1.4. Muestre los valores mínimos y máximos de la lista_x.

In [ ]:
# 1.1

lista_x = list(range(12, 201, 2))
#lista_x

In [ ]:
lista_x =[]
i=12
while i<201:
  lista_x.append(i)
  i+=2
print(lista_x)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [ ]:
# 2
numeros_eliminados = [lista_x.pop(0), lista_x.pop()]

In [ ]:
a = lista_x.pop(0)
b = lista_x.pop()

In [ ]:
numeros_eliminados = [a,b]

In [ ]:
type(numeros_eliminados)

list

In [ ]:
%whos

Variable             Type    Data/Info
--------------------------------------
a                    int     14
b                    int     198
i                    int     202
lista_x              list    n=91
numeros_eliminados   list    n=2

In [ ]:
numeros_eliminados = []
numeros_eliminados.append(lista_x.pop(0))
numeros_eliminados.append(lista_x.pop())
numeros_eliminados

[16, 196]

In [ ]:
%whos

Variable             Type    Data/Info
--------------------------------------
a                    int     14
b                    int     198
i                    int     202
lista_x              list    n=89
numeros_eliminados   list    n=2

In [ ]:
# 3

print(f"La lista de valores eliminados {numeros_eliminados}")

La lista de valores eliminados [16, 196]

In [ ]:
min(lista_x)

18

In [ ]:
max(lista_x)

194

In [ ]:
# 4

print(f"El valor mínimo de la lista lista_x: {min(lista_x)}\n")
print(f"El valor máximo de la lista lista_x: {max(lista_x)}")

El valor mínimo de la lista lista_x: 18

El valor máximo de la lista lista_x: 194

### Pregunta 2

2.1. Determine el número de elementos de la lista a crear.

2.2. Ingrese los valores de la lista a crear.

2.3. Almacene los valores en una lista.

2.4. Muestre los valores de la lista.

2.5. Calcule y muestre los valores mínimo, máximo y promedio de los valores de la lista.

In [ ]:
#1
lista_element = []

cant_element = int(input("Ingrese el numero de elementos que desea en la lista: "))

Ingrese el numero de elementos que desea en la lista: 2

In [ ]:
inicio = 1

while inicio <= cant_element:
  valores = int(input("Ingrese el valor a almacenar: "))
  lista_element.append(valores)
  inicio=inicio+1

Ingrese el valor a almacenar: 1
Ingrese el valor a almacenar: 2

In [ ]:
print(f"La lista es: {lista_element} \n")
print(f"valor máximo de la lista {max(lista_element)} \n")
print(f"valor mínimo de la lista {min(lista_element)} \n")

suma = sum(lista_element)
cantidad = len(lista_element)

print(f"El valor promedio de la lista es: {suma/cantidad}")

La lista es: [1, 2]

valor máximo de la lista 2

valor mínimo de la lista 1

El valor promedio de la lista es: 1.5

In [ ]:
numeros = []

for i in range(cant_element):
  numeros.append(int(input("Ingreso el elemento: \n")))

Ingreso el elemento:
2
Ingreso el elemento:
3

In [ ]:
print(f"La lista es: {numeros} \n")
print(f"valor máximo de la lista {max(numeros)} \n")
print(f"valor mínimo de la lista {min(numeros)} \n")
print(f"El valor promedio de la lista es: {sum(numeros)/len(numeros)}")

La lista es: [2, 3]

valor máximo de la lista 3

valor mínimo de la lista 2

El valor promedio de la lista es: 2.5

In [ ]:
sum(numeros)

5

In [ ]:
numeros = []

for i in range(cant_element):
  numeros.append(int(input(f"Ingrese el elemento {i}: \n")))

Ingrese el elemento 0:
1
Ingrese el elemento 1:
2

### Pregunta 3

1. Ingrese a python la siguiente lista_x = ["A", "B", "b", "c", "E", "E", "f"]

2. Solicitar al usuario un elemento a eliminar.

3. Mostrar el elemento eliminado y la lista resultante.

In [ ]:
lista_x = ["A", "B", "b", "c", "E", "E", "f"]

elemento_eliminar = input("Ingrese el elemento que desea eliminar: ")

if elemento_eliminar in lista_x:
  lista_x.remove(elemento_eliminar)
  print(f"El elemento {elemento_eliminar} ha sido eliminado.")
  print(f"La lista resultante es: {lista_x}")
else:
  print(f"El elemento {elemento_eliminar} no se encuentra en la lista.")

Ingrese el elemento que desea eliminar: 3
El elemento 3 no se encuentra en la lista.

In [ ]:
lista_x = ["A", "B", "b", "c", "E", "E", "f"]

print(f"La lista inicial es {lista_x} \n")

elemento = input("El elemento a eliminar: \n")

for _ in lista_x:
  if elemento.lower() in lista_x:
    lista_x.remove(elemento.lower())
  elif elemento.upper() in lista_x:
    lista_x.remove(elemento.upper())

print(f"El elemento eliminado es: {elemento.lower()} \n")
print(f"El elemento eliminado es: {elemento.upper()} \n")
print(f"La lista depurada es: {lista_x}")

La lista inicial es ['A', 'B', 'b', 'c', 'E', 'E', 'f']

El elemento a eliminar:
A
El elemento eliminado es: a

El elemento eliminado es: A

La lista depurada es: ['B', 'b', 'c', 'E', 'E', 'f']

In [ ]:
lista_a = [1]

In [ ]:
%whos

Variable             Type    Data/Info
--------------------------------------
a                    int     14
b                    int     198
cant_element         int     2
cantidad             int     2
elemento             str     A
elemento_eliminar    str     3
i                    int     1
inicio               int     3
lista_a              list    n=1
lista_element        list    n=2
lista_x              list    n=6
numeros              list    n=2
numeros_eliminados   list    n=2
suma                 int     3
valores              int     2

In [ ]:
lista_a.append(100)
lista_a

[1, 100]

### Tuplas

In [ ]:
tupla_0 = (1,)

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
elemento             str      A
elemento_eliminar    str      3
i                    int      1
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=6
numeros              list     n=2
numeros_eliminados   list     n=2
suma                 int      3
tupla_0              tuple    n=1
valores              int      2

In [ ]:
# Tupla homogénea

tupla_1 = (2.0, 2.5, 2.6, 3.2, 3.3)
tupla_1

(2.0, 2.5, 2.6, 3.2, 3.3)

In [ ]:
type(tupla_1)

tuple

In [ ]:
# Tupla Heterogénea

tupla_2 = (3, True, "Hola", 2.5)
tupla_2

(3, True, 'Hola', 2.5)

### Acceder a los elementos de la tupla

In [ ]:
# Accedemos a los elementos de una tupla por índices

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
elemento             str      A
elemento_eliminar    str      3
i                    int      1
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=6
numeros              list     n=2
numeros_eliminados   list     n=2
suma                 int      3
tupla_0              tuple    n=1
tupla_1              tuple    n=5
tupla_2              tuple    n=4
valores              int      2

In [ ]:
tupla_2

(3, True, 'Hola', 2.5)

In [ ]:
tupla_2[2]

'Hola'

In [ ]:
lista_x

['B', 'b', 'c', 'E', 'E', 'f']

In [ ]:
lista_x[0]

'B'

In [ ]:
# Por operadores de segmentación

In [ ]:
tupla_5 = (1,2,3,4,5,6,7,8)
tupla_5

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
tupla_5[5:]

(6, 7, 8)

In [ ]:
tupla_5[2:6]

(3, 4, 5, 6)

### Pregunta 4

4.1. Crear una tupla que contenga el nombre de 10 paises.

4.2. Mostrar el segundo país ingresado en la tupla, teniendo una selección previa hecha con saltos de 2 en 2.

In [ ]:
countries = ("Peru", "Brasil", "Alemania", "Colombia", "Argentina", "Ecuador", "Uruguay",
             "Rusia", "Bolivia", "Venezuela") #segundo de la tupla:

In [ ]:
countries

('Peru',
 'Brasil',
 'Alemania',
 'Colombia',
 'Argentina',
 'Ecuador',
 'Uruguay',
 'Rusia',
 'Bolivia',
 'Venezuela')

In [ ]:
countries[1::2]

('Brasil', 'Colombia', 'Ecuador', 'Rusia', 'Venezuela')

In [ ]:
countries[1::2][0]

'Brasil'

In [ ]:
tupla_vocales = ("a","e","i","o","u")
tupla_vocales

('a', 'e', 'i', 'o', 'u')

In [ ]:
tupla_vocales[1:4]

('e', 'i', 'o')

In [ ]:
tupla_vocales[1:4:1]

('e', 'i', 'o')

In [ ]:
tupla_vocales[1:4:2]

('e', 'o')

In [ ]:
tupla_p = ([2,4,6],(2,1))
tupla_p

([2, 4, 6], (2, 1))

In [ ]:
tupla_p[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla_p[0][1]

4

In [ ]:
tupla_p[0][1] = 10

In [ ]:
tupla_p

([2, 10, 6], (2, 1))

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
countries            tuple    n=10
elemento             str      A
elemento_eliminar    str      3
i                    int      1
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=6
numeros              list     n=2
numeros_eliminados   list     n=2
suma                 int      3
tupla_0              tuple    n=1
tupla_1              tuple    n=5
tupla_2              tuple    n=4
tupla_5              tuple    n=8
tupla_p              tuple    n=2
tupla_vocales        tuple    n=5
valores              int      2

In [ ]:
lista_x

['B', 'b', 'c', 'E', 'E', 'f']

In [ ]:
lista_x.append('z')
lista_x

['B', 'b', 'c', 'E', 'E', 'f', 'z']

In [ ]:
tupla_p

([2, 10, 6], (2, 1))

In [ ]:
tupla_p[0][1]

10

In [ ]:
tupla_p[0]

[2, 10, 6]

In [ ]:
type(tupla_p[0])

list

In [ ]:
tupla_p[0].append(100)
tupla_p

([2, 10, 6, 100], (2, 1))

In [ ]:
tupla_vocales

('a', 'e', 'i', 'o', 'u')

In [ ]:
print(f"La tupla original es: {tupla_vocales} \n")

La tupla original es: ('a', 'e', 'i', 'o', 'u')

In [ ]:
print(f"Los elementos a ser elegidos están en el rango de [2:4]: {tupla_vocales[2:4]}")

Los elementos a ser elegidos están en el rango de [2:4]: ('i', 'o')

In [ ]:
print(f"Los elementos a ser elegidos están en el rango de [0:3]: {tupla_vocales[0:3]}")

Los elementos a ser elegidos están en el rango de [0:3]: ('a', 'e', 'i')

### Desempaquetado de tuplas

In [ ]:
var_1, var_2 = "A", "B"

In [ ]:
var_1

'A'

In [ ]:
var_2

'B'

In [ ]:
tupla_vocales[0:3]

('a', 'e', 'i')

In [ ]:
x, y, z = tupla_vocales[0:3]

In [ ]:
x

'a'

In [ ]:
y

'e'

In [ ]:
z

'i'

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
countries            tuple    n=10
elemento             str      A
elemento_eliminar    str      3
i                    int      1
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=7
numeros              list     n=2
numeros_eliminados   list     n=2
suma                 int      3
tupla_0              tuple    n=1
tupla_1              tuple    n=5
tupla_2              tuple    n=4
tupla_5              tuple    n=8
tupla_p              tuple    n=2
tupla_vocales        tuple    n=5
valores              int      2
var_1                str      A
var_2                str      B
x                    str      a
y                    str      e
z                    str      i

In [ ]:
tupla_5

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
v1, v2 = tupla_5[0:2]

In [ ]:
v1

1

In [ ]:
v2

2

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
countries            tuple    n=10
elemento             str      A
elemento_eliminar    str      3
i                    int      1
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=7
numeros              list     n=2
numeros_eliminados   list     n=2
suma                 int      3
tupla_0              tuple    n=1
tupla_1              tuple    n=5
tupla_2              tuple    n=4
tupla_5              tuple    n=8
tupla_p              tuple    n=2
tupla_vocales        tuple    n=5
v1                   int      1
v2                   int      2
valores              int      2
var_1                str      A
var_2                str      B
x                    str      a
y                    str      e
z                    str      i

In [ ]:
tupla_5

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
tupla_5[-1]

8

In [ ]:
tupla_5[-1] = 800

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tupla de 3 elementos
# Primer elemento de la tupla es una lista
# Segundo elemento de la tupla es un diccionario
# Tercer elemento de la tupla es una tupla
tupla_6 = ([1,2,3],{"uno":1,"dos":2},(3,2))

In [ ]:
tupla_6[0]

[1, 2, 3]

In [ ]:
type(tupla_6[0])

list

In [ ]:
tupla_6[0][2] = 999

In [ ]:
tupla_6

([1, 2, 999], {'uno': 1, 'dos': 2}, (3, 2))

In [ ]:
tupla_6[2][0]

3

In [ ]:
tupla_6[2][0] = 100

TypeError: 'tuple' object does not support item assignment

### Recorrer una tupla usando un bucle

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
countries            tuple    n=10
elemento             str      A
elemento_eliminar    str      3
i                    int      1
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=7
numeros              list     n=2
numeros_eliminados   list     n=2
suma                 int      3
tupla_0              tuple    n=1
tupla_1              tuple    n=5
tupla_2              tuple    n=4
tupla_5              tuple    n=8
tupla_6              tuple    n=3
tupla_p              tuple    n=2
tupla_vocales        tuple    n=5
v1                   int      1
v2                   int      2
valores              int      2
var_1                str      A
var_2                str      B
x                    str      a
y                    str      e
z                    str      i

In [ ]:
countries

('Peru',
 'Brasil',
 'Alemania',
 'Colombia',
 'Argentina',
 'Ecuador',
 'Uruguay',
 'Rusia',
 'Bolivia',
 'Venezuela')

In [ ]:
for i in countries:
  print(i)

Peru
Brasil
Alemania
Colombia
Argentina
Ecuador
Uruguay
Rusia
Bolivia
Venezuela

### Desempaquetado de tuplas con for

In [ ]:
# Tupla con 2 elementos
# Cada elemento es una tupla

tupla_7 = (("A0001","manzana","rojo"),("A0002","pera","verde"))
tupla_7

(('A0001', 'manzana', 'rojo'), ('A0002', 'pera', 'verde'))

In [ ]:
for cod,frut,col in tupla_7:
  print(f"La fruta {frut} con el código {cod} es de color {col} \n")

La fruta manzana con el código A0001 es de color rojo

La fruta pera con el código A0002 es de color verde

### Función tuple

In [ ]:
# Crear una tupla a partir de una lista

tupla_8 = tuple([1,2,3,4,5])
tupla_8

(1, 2, 3, 4, 5)

In [ ]:
type(tupla_8)

tuple

In [ ]:
texto = "Universitario"

In [ ]:
tupla_9 = tuple(texto)
tupla_9

('U', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'a', 'r', 'i', 'o')

In [ ]:
type(list((2,5)))

list

### Ejercicio

1. Ingrese una palabra y almacene la palabra en una tupla

2. Muestre los elementos de la tupla

In [ ]:
palabra = input('Favor de ingresar una palabra: ')
tupla_0 = tuple(palabra)
tupla_0

Favor de ingresar una palabra: David

('D', 'a', 'v', 'i', 'd')

In [ ]:
type(palabra)

str

In [ ]:
palabra = input('Favor de ingresar una palabra: ')
tupla_0 = list(tuple(palabra))
tupla_0

Favor de ingresar una palabra: 12345

['1', '2', '3', '4', '5']

### Concatenación de tuplas

In [ ]:
%whos

Variable             Type     Data/Info
---------------------------------------
a                    int      14
b                    int      198
cant_element         int      2
cantidad             int      2
cod                  str      A0002
col                  str      verde
countries            tuple    n=10
elemento             str      A
elemento_eliminar    str      3
frut                 str      pera
i                    str      Venezuela
inicio               int      3
lista_a              list     n=2
lista_element        list     n=2
lista_x              list     n=7
numeros              list     n=2
numeros_eliminados   list     n=2
palabra              str      12345
suma                 int      3
texto                str      Universitario
tupla_0              list     n=5
tupla_1              tuple    n=5
tupla_2              tuple    n=4
tupla_5              tuple    n=8
tupla_6              tuple    n=3
tupla_7              tuple    n=2
tupla_8              tuple    n=5
tupla_9              tuple    n=13
tupla_p              tuple    n=2
tupla_vocales        tuple    n=5
v1                   int      1
v2                   int      2
valores              int      2
var_1                str      A
var_2                str      B
x                    str      a
y                    str      e
z                    str      i

In [ ]:
countries

('Peru',
 'Brasil',
 'Alemania',
 'Colombia',
 'Argentina',
 'Ecuador',
 'Uruguay',
 'Rusia',
 'Bolivia',
 'Venezuela')

In [ ]:
tupla_vocales

('a', 'e', 'i', 'o', 'u')

In [ ]:
tupla_c = countries + tupla_vocales
tupla_c

('Peru',
 'Brasil',
 'Alemania',
 'Colombia',
 'Argentina',
 'Ecuador',
 'Uruguay',
 'Rusia',
 'Bolivia',
 'Venezuela',
 'a',
 'e',
 'i',
 'o',
 'u')

### Ejercicio

1. Crear una tupla con 3 marcas reconocidas.

2. Crear una lista con 3 colores de preferencia

3. Concatenar la tupla con la lista

In [ ]:
marcas = ('Adidas', 'Nike', 'Rebook')
colores = ['rojo', 'azul', 'verde']
lista_concatenada = list(marcas) + colores

print(f"La tupla de marcas favoritas es: {marcas} \n")
print(f"El objeto marcas es de naturaleza: {type(marcas)} \n")
print(f"La lista de colores favoritos es: {colores} \n")
print(f"El objeto colores es de naturaleza: {type(colores)} \n")
print("La lista concatenada es:", lista_concatenada)

La tupla de marcas favoritas es: ('Adidas', 'Nike', 'Rebook')

El objeto marcas es de naturaleza: <class 'tuple'>

La lista de colores favoritos es: ['rojo', 'azul', 'verde']

El objeto colores es de naturaleza: <class 'list'>

La lista concatenada es: ['Adidas', 'Nike', 'Rebook', 'rojo', 'azul', 'verde']

In [ ]:
marcas = ('Adidas', 'Nike', 'Rebook')
colores = ['rojo', 'azul', 'verde']
lista_concatenada = marcas + tuple(colores)

print(f"La tupla de marcas favoritas es: {marcas} \n")
print(f"El objeto marcas es de naturaleza: {type(marcas)} \n")
print(f"La lista de colores favoritos es: {colores} \n")
print(f"El objeto colores es de naturaleza: {type(colores)} \n")
print("La tupla concatenada es:", lista_concatenada)

La tupla de marcas favoritas es: ('Adidas', 'Nike', 'Rebook')

El objeto marcas es de naturaleza: <class 'tuple'>

La lista de colores favoritos es: ['rojo', 'azul', 'verde']

El objeto colores es de naturaleza: <class 'list'>

La tupla concatenada es: ('Adidas', 'Nike', 'Rebook', 'rojo', 'azul', 'verde')

In [ ]:
numeros_ = input("Ingrese los números:")

Ingrese los números:20 10 5 30 4 3 2 1

In [ ]:
numeros_

'20 10 5 30 4 3 2 1'

In [ ]:
type(numeros_)

str

In [ ]:
numeros_.split()

['20', '10', '5', '30', '4', '3', '2', '1']

In [ ]:
for i in numeros_.split():
  print(i)

20
10
5
30
4
3
2
1

In [ ]:
numeros_ = input("Ingrese los números:")
lista_numeros = [int(i) for i in numeros_.split()]
lista_numeros

Ingrese los números:12 23 34 5 6 7 8 1

[12, 23, 34, 5, 6, 7, 8, 1]

In [ ]:
min(lista_numeros)

1

In [ ]:
max(lista_numeros)

34

In [ ]:
numeros_ = input("Ingrese los números:")
lista_numeros = [float(i) for i in numeros_.split()]
lista_numeros

Ingrese los números:12.5 4 3 2 1

[12.5, 4.0, 3.0, 2.0, 1.0]